{
  "plugins": ["node", "jest"],
  "extends": ["eslint:recommended", "plugin:node/recommended", "plugin:jest/recommended"],
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true,
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "no-console": "off",
    "no-extra-parens": "error",
    "node/exports-style": ["error", "module.exports"],
    "node/no-unpublished-require": ["error", {
      "allowModules": ["js-yaml", "extend", "object-hash"]
    }]
  }
}
