service: tim-bot

provider:
  name: aws
  region: ${file(config.yml):region}
  runtime: nodejs6.10
  stage: ${file(config/env.js):stage}
  environment: ${file(config/env.js):env}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:service}-${self:provider.stage}-*"

functions:
  fbVerify:
    handler: entrypoint/fb.verify
    events:
      - http:
          path: fb
          method: get
  fbMessage:
    handler: entrypoint/fb.message
    timeout: 15
    events:
      - http:
          path: fb
          method: post
  fbAttachment:
    handler: entrypoint/fb.attachment
    timeout: 30
    events:
      - http:
          path: attachment
          method: post
  cronPush:
    handler: entrypoint/fb.push
    timeout: 30

  fbPushLegacyFetch:
    handler: entrypoint/fbPushLegacy.fetch
  fbPushLegacySend:
    handler: entrypoint/fbPushLegacy.send
    timeout: 30
  fbPushLegacyFinish:
    handler: entrypoint/fbPushLegacy.finish

stepFunctions:
  stateMachines:
    pushLegacy:
      name: ${self:service}-${self:provider.stage}-pushLegacy
      events:
        - http:
            path: push
            method: get
        - schedule:
            name: ${self:service}-${self:provider.stage}-pushLegacy_morning_2
            rate: cron(30 6 ? * MON-FRI *)  # UTC+1 (No DST)
            input:
              timing: morning
        - schedule:
            name: ${self:service}-${self:provider.stage}-pushLegacy_morning_dst_2
            rate: cron(30 5 ? * MON-FRI *)  # UTC+2 (DST)
            input:
              timing: morning
        - schedule:
            name: ${self:service}-${self:provider.stage}-pushLegacy_morning_weekend_2
            rate: cron(0 8 ? * SAT,SUN *)  # UTC+1 (No DST)
            input:
              timing: morning
        - schedule:
            name: ${self:service}-${self:provider.stage}-pushLegacy_morning_weekend_dst_2
            rate: cron(0 7 ? * SAT,SUN *)  # UTC+2 (DST)
            input:
              timing: morning
        - schedule:
            name: ${self:service}-${self:provider.stage}-pushLegacy_evening_2
            rate: cron(30 17 * * ? *)  # UTC+1 (No DST)
            input:
              timing: evening
        - schedule:
            name: ${self:service}-${self:provider.stage}-pushLegacy_evening_dst_2
            rate: cron(30 16 * * ? *)  # UTC+2 (DST)
            input:
              timing: evening
      definition:
        StartAt: fetching
        States:
          fetching:
            Type: Task
            Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${self:provider.stage}-fbPushLegacyFetch"
            Next: loop
          loop:
            Type: Choice
            Choices:
              - Variable: "$.state"
                StringEquals: "nextChunk"
                Next: sending
              - Variable: "$.state"
                StringEquals: "finished"
                Next: finished
          sending:
            Type: Task
            Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${self:provider.stage}-fbPushLegacySend"
            Next: loop
          finished:
            Type: Task
            Resource: "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:${self:service}-${self:provider.stage}-fbPushLegacyFinish"
            End: true

custom:
  customDomain:
    domainName: "${self:provider.stage}.${file(config.yml):domain_base}"
    basePath: ''
    stage: ${self:provider.stage}
    createRoute53Record: true
    enabled: ${file(config/env.js):enableDomain}
  scripts:
    hooks:
      'package:initialize': npm run lint

plugins:
  - serverless-offline
  - serverless-domain-manager
  - serverless-plugin-scripts
  - serverless-step-functions
  - serverless-pseudo-parameters

resources:
  Resources: ${file(config/env.js):resources}
